# Ignore all files inside the storage folder but keep the folder itself
storage/*
!storage/.gitkeep

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore specific file types (Word documents)
*.docx
*.doc
